.dart_tool/
.flutter-plugins*
.packages
.pub-cache/
build/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
.idea/
*.iml
.DS_Store
coverage/
.signing/
output/test-artifacts/
output/*.apk
output/
*.log
*.db
*.db-journal
*.db-wal
*.db-shm
*.p12
*.env
.env*
*.hprof
